<!-- File Name: bottom_nav.ejs
Student's Name: Plaban Biswas
Student ID: 301344949
Date: September 27, 2023 -->
<!-- Right Aligned -->
<div>
  <nav class="navbar sticky-bottom navbar-dark bg-navy justify-content-end">
    <h7 class="display-10 navbar-text ">&copy;2023 All rights reserved</h7>
</div>
</nav>