/* File Name: styles.css
Student's Name: Plaban Biswas
Student ID: 301344949
Date: September 27, 2023 */
.nav-item .nav-link{
    color: grey;
}
.nav-item.active .nav-link{
    color: aliceblue;
}
.nav-item:hover .nav-link{
    color: aqua;
}

.nav-link:hover{
    color: aqua;
}

.navbar-text{
    color: aliceblue;
}

.bg-navy{
    background-color: rgb(2, 24, 52);
}

.bg-cream{
    background-color: rgb(214, 218, 170);
}

.bg-turquoise{
    background-color: turquoise;
}

.test {
    width: 100px; /*20px is too small the icon is 20px (approx) you need more space */
}

.test span {white-space:nowrap}