<!-- File Name: .ejs
Student's Name: Plaban Biswas
Student ID: 301344949
Date: September 27, 2023 -->
<%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>

        <!--<img src="img/logo.png" alt="logo">-->
        <!-- Short and Sweet Intro and description -->
        <!-- DOC: https://getbootstrap.com/docs/4.0/components/jumbotron/ -->
        <main class="container-fluid bg-home">
            <div class="jumbotron">
                <h1 class="display-4">Hello! I am Plaban</h1>
                <p class="lead">I aspire to be a Game Developer and make awesome games for PC! (Sorry mobile users XD)
                </p>
                <hr class="my-4">
                <p>Besides that, I love programming memes and football!<br>
                    Mission Statement: I want to work on a high profile AAA FPS game and a RPG Game.
                </p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/about" role="button">About me</a>
                </p>
            </div>
        </main>

        <%- include ('partials/bottom_nav.ejs') %>
            <%- include ('partials/footer.ejs') %>